body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--bg-color);
  max-width: 500px;
}

.title {
  font-size: clamp(1.5rem, 7vw, 3rem);
}

.game-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.game-info-wrapper .game-status {
  grid-column: 1 / -1;
  text-align: center;
  font-size: clamp(1.2rem, 5vw, 2rem);
}

.game-info-wrapper p {
  font-size: clamp(1rem, 3vw, 1.3rem);
}
